.carousel{
    cursor: pointer;
}

.carousel:hover{
    filter: contrast(130%);
}

.carousel-image {
    height: 80vh;
    object-fit: cover;
}

.carousel1 h2 {
    color: red;
    font-family: "Nothing You Could Do", cursive;
}

.carousel1 h1 {
    font-family: "Josefin Sans", sans-serif;
}

.carousel2 h2 {
    color: red;
    font-family: "Nothing You Could Do", cursive;
}

.carousel2 h1 {
    font-family: "Josefin Sans", sans-serif;
}

.carousel2 p {
    margin-top: 8px;
    font-size: 20px;
}

.carousel3 h2 {
    color: red;
    font-weight: bold;
    font-family: "Nothing You Could Do", cursive;
}

.carousel3 h1 {
    font-family: "Josefin Sans", sans-serif;
}

.carousel3 p {
    margin-top: 8px;
    font-size: 20px;
}

.navbar .logo {
    color: red !important;
    font-size: 20px !important;
}

nav ul li a {
    color: red !important;
    font-weight: bold !important;
    font-size: 18px !important;
}

nav ul li a:hover {
    color: black !important;
    font-size: 18px !important;
}

nav {
    background-color: white;
}

.ftco-intro .container-fluid{
    display: flex;
    background-color: red;
}

.ftco-intro .text{
    color: white;
    font-family: "Josefin Sans", sans-serif;
}

.ftco-intro .text h3{
    font-size: 23px;
}


/* Menu Styling */


